page-customers {
    // .item-md ion-avatar[item-left], 
    // .item-md ion-thumbnail[item-left], 
    // .item-md ion-avatar[item-start], 
    // .item-md ion-thumbnail[item-start] {
    //      margin: 0px !important; 
    // }
    // .item-md {
    //     padding-left: 0px;
    // }

    // .toggle-md,
    // .toggle-ios {
    //     position: relative;
    //     width: 30px;
    //     height: 10px;
    //     -webkit-box-sizing: content-box;
    //     box-sizing: content-box;
    //     contain: strict;
    //     padding: 7px;
    // }
    // .toggle-md .toggle-inner,.toggle-ios .toggle-inner {
    //     top: -2px;
    //     width: 15px;
    //     height: 15px;
    // }
}
