// ion-modal.my-popup {
//     @media (min-height: 500px) {
//       ion-backdrop {
//         visibility: visible;
//       }
//     }
  
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: $z-index-overlay;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     contain: strict;
//     .modal-wrapper {
//       &,
//       .ion-page,
//       .ion-page .content,
//       .ion-page .content .scroll-content {
//         contain: content;
//         position: relative;
//         top: auto;
//         left: auto;
//       }
  
//       z-index: $z-index-overlay-wrapper;
//       display: flex;
//       overflow: hidden;
  
//       flex-direction: column;
  
//       min-width: $alert-min-width;
//       max-height: $alert-max-height;
  
//       opacity: 0;
  
//       height: auto;
//       max-width: $alert-md-max-width;
//       border-radius: $alert-md-border-radius;
//       background-color: $alert-md-background-color;
//       box-shadow: $alert-md-box-shadow;
  
//       .ion-page .content {
//         background-color: color($colors, light);
//       }
//     }
//   }

page-group-modal{
    .daysSelected{
        background:#009688; 
        color:#ffffff;
         border: 1px solid #fff;
      }
      .daysDeselected{
         background:#ffffff;
        color:#11c1f3;
        border: 1px solid #009688;
      }
      .logitem {
        background-color: transparent;
        padding-bottom: 5px;
    }
    .logitem1 {
        background-color: transparent;

        p { 
            color: #ea6153;
            margin: 0;
            padding: 0;
        }
    }

    div{
        // width:80%;
        // height: auto;
        // margin:auto;
    }
    // form {
    //     background: #fff;
    //     padding: 4em 4em 2em;
    //     // max-width: 400px;
    //     margin: 50px auto 0;
    //     box-shadow: 0 0 1em #222;
    //     border-radius: 2px;
    //     h2 {
    //       margin:0 0 50px 0;
    //       padding:10px;
    //       text-align:center;
    //       font-size:30px;
    //       color:darken(#e5e5e5, 50%);
    //       border-bottom:solid 1px #e5e5e5;
    //     }
    //     p {
    //       margin: 0 0 3em 0;
    //       position: relative;
    //     }
    //     ion-select{
    //         display: block;
    //         box-sizing: border-box;
    //         width: 100%;
    //         outline: none;
    //         margin:0;
    //         background: #fff;
    //         border: 1px solid #dbdbdb;
    //         font-size: 1.6em;
    //         padding: .8em .5em;
    //         border-radius: 2px;
    //         max-width: 100%;
    //     }
    //     .select-md .select-icon {
           
    //         float: right;
    //     }
    //     .select-text {
          
    //         min-width: 16px;
    //         font-size: 0.7em;
    //     }
    //     input {
    //       display: block;
    //       box-sizing: border-box;
    //       width: 100%;
    //       outline: none;
    //       margin:0;
    //     }
    //     input[type="text"],
    //     input[type="email"],
    //     input[type="number"] {
    //       background: #fff;
    //       border: 1px solid #dbdbdb;
    //       font-size: 1.1em;
    //       padding: .8em .5em;
    //       border-radius: 2px;
    //     }
    //     input[type="text"]:focus,
    //     input[type="email"]:focus,
    //     input[type="number"]:focus {
    //       background: #fff
    //     }
    //     .span {
    //       display:block;
    //       background: #F9A5A5;
    //       padding: 2px 5px;
    //       color: #666;
    //     }
    //     input[type="submit"] {
    //       background: rgba(148,186,101,0.7);
    //       box-shadow: 0 3px 0 0 darken(rgba(148,186,101,0.7), 10%);
    //       border-radius: 2px;
    //       border: none;
    //       color: #fff;
    //       cursor: pointer;
    //       display: block;
    //       font-size: 2em;
    //       line-height: 1.6em;
    //       margin: 2em 0 0;
    //       outline: none;
    //       padding: .8em 0;
    //       text-shadow: 0 1px #68B25B;
    //     }
    //     input[type="submit"]:hover {
    //       background: rgba(148,175,101,1);
    //       text-shadow:0 1px 3px darken(rgba(148,186,101,0.7), 30%);
    //     }
    //     input[type="submit"]:hover {
          
    //     }
    //     label{
    //       position: absolute;
    //       left: 8px;
    //       top: 12px;
    //       color: #999;
    //       font-size: 16px;
    //       display: inline-block;
    //       padding: 4px 10px;
    //       font-weight: 400;
    //       background-color: rgba(255,255,255,0);
    //     //   @include transition(color .3s, top .3s, background-color .8s);
    //       &.floatLabel{
    //         top: -11px;
    //         background-color: rgba(255,255,255,0.8);
    //         font-size: 14px;
    //       }
    //     }
    // }
}

// $button: rgba(148,186,101,0.7);