<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vehicle List</ion-title>
    <ion-buttons end *ngIf="isDealer || isSuperAdmin">
      <button ion-button icon-only (click)="openAdddeviceModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let d of allDevicesSearch; let i=index;">
    <div *ngIf="d.expiration_date < now " style="position: relative">
      <div>
        <ion-item style="background-color: rgba(0, 0, 0, 0.9)">
          <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType != null">
            <img src="assets/imgs/car_grey_icon.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'car')">
            <img src="assets/imgs/truck_icon_grey.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'truck')">
            <img src="assets/imgs/bike_grey_icon.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'bike')">
            <img src="assets/imgs/jcb_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.vehicleType.iconType == 'jcb')">
            <img src="assets/imgs/bus_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.vehicleType.iconType == 'bus')">
            <img src="assets/imgs/user-dummy.png" title="{{d.Device_Name}}" *ngIf="(d.vehicleType.iconType == 'user')">
            <img src="assets/imgs/tractor_gray.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'tractor')">
          </ion-avatar>

          <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType == null">
            <img src="assets/imgs/car_grey_icon.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'car')">
            <img src="assets/imgs/truck_icon_grey.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'truck')">
            <img src="assets/imgs/bike_grey_icon.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'bike')">
            <img src="assets/imgs/jcb_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.vehicleType.iconType == 'jcb')">
            <img src="assets/imgs/bus_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.vehicleType.iconType == 'bus')">
            <img src="assets/imgs/user-dummy.png" title="{{d.Device_Name}}" *ngIf="(d.vehicleType.iconType == 'user')">
            <img src="assets/imgs/tractor_gray.webp" title="{{d.Device_Name}}"
              *ngIf="(d.vehicleType.iconType == 'tractor')">
          </ion-avatar>

          <ion-avatar item-start *ngIf="d.vehicleType == null && d.iconType != null">
            <img src="assets/imgs/car_grey_icon.webp" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'car')">
            <img src="assets/imgs/truck_icon_grey.webp" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'truck')">
            <img src="assets/imgs/bike_grey_icon.webp" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'bike')">
            <img src="assets/imgs/jcb_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'jcb')">
            <img src="assets/imgs/bus_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'bus')">
            <img src="assets/imgs/user-dummy.png" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'user')">
            <img src="assets/imgs/tractor_gray.webp" title="{{d.Device_Name}}" *ngIf="(d.iconType == 'tractor')">
          </ion-avatar>

          <div>
            <h2 style="color: gray">{{d.Device_Name}}</h2>
            <p style="color:gray;font-size: 10px;font-weight: 400;margin:0px;" ion-text text-wrap>
              <span style="text-transform: uppercase; color: red;">{{d.status}} </span>
              <span *ngIf="d.status_updated_at ">since&nbsp;{{d.status_updated_at | date:'medium'}} </span>
            </p>
          </div>

          <button ion-button item-end clear *ngIf="!showDeleteBtn(d.SharedWith)">
            <ion-icon ios="ios-more" md="md-more" color="grey" *ngIf="option_switch"></ion-icon>
          </button>

          <button ion-button item-end clear *ngIf="!option_switch">
            <ion-icon ios="ios-share" md="md-share" *ngIf="showSharedBtn(islogin._id,d.SharedWith)"></ion-icon>
          </button>

          <button ion-button item-end clear *ngIf="showDeleteBtn(d.SharedWith)">
            <ion-icon ios="ios-remove-circle" md="md-remove-circle" color="danger"></ion-icon>
          </button>

          <div item-end *ngIf="d.currentFuel">
            <ion-avatar class="ava">
              <img src="assets/imgs/fuel.png">
            </ion-avatar>
            <p style="color: gray; font-size: 10px;font-weight: 400;margin:0px;">{{d.currentFuel}}L</p>
          </div>
        </ion-item>

        <ion-row style="background-color: rgba(0, 0, 0, 0.9)" padding-right>
          <ion-col width-20 style="text-align:center">
            <ion-icon name="pin" style="color:gray;font-size: 12px;"></ion-icon>
            <p style="color:gray;font-size: 10px;font-weight: 400;">Live</p>
          </ion-col>
          <ion-col width-20 style="text-align:center">
            <ion-icon name="clock" style="color:gray;font-size: 12px;"></ion-icon>
            <p style="color:gray;font-size: 10px;font-weight: 400;">History</p>
          </ion-col>
          <ion-col width-20 style="text-align:center">
            <ion-icon name="power" style="color:gray;font-size: 12px;"></ion-icon>
            <p style="color:gray;font-size: 10px;font-weight: 400;">Ignition</p>
          </ion-col>
          <ion-col width-20 style="text-align:center">
            <ion-icon name="lock" style="color:gray;font-size: 12px;" *ngIf="d.ignitionLock=='1'"></ion-icon>
            <ion-icon name="unlock" style="color:gray;font-size: 12px;" *ngIf="d.ignitionLock=='0'"></ion-icon>
            <p style="color:gray;font-size: 10px;font-weight: 400;">Immobilize</p>
          </ion-col>
          <ion-col width-20 style="text-align:center">
            <ion-icon name="battery-charging" style="color:gray;font-size: 12px;"></ion-icon>
            <p style="color:gray;font-size: 10px;font-weight: 400;">Power</p>
          </ion-col>
          <ion-col width-20 style="text-align:center">
            <ion-icon name="call" style="color:gray;font-size: 12px;"></ion-icon>
            <p style="color:gray;font-size: 10px;font-weight: 400;">Driver</p>
          </ion-col>
        </ion-row>

        <ion-item item-start class="itemStyle" style="background-color: rgba(0, 0, 0, 0.9)">
          <ion-row>
            <ion-col (onCreate)="device_address(d,i)" class="colSt2">
              <div class="overme" style="color: gray">
                {{d.address}}
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </div>
      <div>
        <button class="activeBtn" ion-button outline color="secondary" (tap)="activateVehicle(d)">Activate</button>
      </div>
    </div>

    <div *ngIf="d.expiration_date == null || d.expiration_date > now">
      <ion-item>
        <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType != null"
          (click)="showVehicleDetails(d); $event.stopPropagation()">
          <img src="assets/imgs/car_red_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/car_green_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/car_grey_icon.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/car_blue_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/car_yellow_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='IDLING'))">

          <img src="assets/imgs/truck_icon_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/truck_icon_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/truck_icon_grey.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/truck_icon_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/truck_icon_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='IDLING'))">

          <img src="assets/imgs/bike_red_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/bike_green_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bike_grey_icon.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/bike_blue_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/bike_yellow_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='IDLING'))">

          <img src="assets/imgs/jcb_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/jcb_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/jcb_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/jcb_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/jcb_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='IDLING'))">

          <img src="assets/imgs/bus_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/bus_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'bus')&&(d.last_ACC==null ))"> -->
          <img src="assets/imgs/bus_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/bus_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='IDLING'))">

          <img src="assets/imgs/tractor_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/tractor_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/tractor_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.last_ACC==null ))"> -->
          <img src="assets/imgs/tractor_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/tractor_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='IDLING'))">

          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'user')&&(d.last_ACC==null ))"> -->
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='IDLING'))">

        </ion-avatar>

        <ion-avatar item-start *ngIf="d.vehicleType != null && d.iconType == null"
          (click)="showVehicleDetails(d); $event.stopPropagation()">

          <img src="assets/imgs/car_red_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/car_green_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/car_grey_icon.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'car')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/car_blue_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/car_yellow_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'car')&&(d.status=='IDLING'))">

          <img src="assets/imgs/truck_icon_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/truck_icon_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/truck_icon_grey.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'truck')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/truck_icon_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/truck_icon_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'truck')&&(d.status=='IDLING'))">

          <img src="assets/imgs/bike_red_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/bike_green_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bike_grey_icon.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'bike')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/bike_blue_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/bike_yellow_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bike')&&(d.status=='IDLING'))">

          <img src="assets/imgs/jcb_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/jcb_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/jcb_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/jcb_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/jcb_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'jcb')&&(d.status=='IDLING'))">

          <img src="assets/imgs/bus_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/bus_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'bus')&&(d.last_ACC==null))"> -->
          <img src="assets/img/bus_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/bus_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'bus')&&(d.status=='IDLING'))">

          <img src="assets/imgs/tractor_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/tractor_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.last_ACC==null))"> -->
          <img src="assets/img/tractor_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/tractor_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'tractor')&&(d.status=='IDLING'))">

          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
                *ngIf="((d.vehicleType.iconType == 'user')&&(d.last_ACC==null))"> -->
          <img src="assets/img/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.vehicleType.iconType == 'user')&&(d.status=='IDLING'))">

        </ion-avatar>

        <ion-avatar item-start *ngIf="d.vehicleType == null && d.iconType != null"
          (click)="showVehicleDetails(d); $event.stopPropagation()">

          <img src="assets/imgs/car_red_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'car')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/car_green_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'car')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/car_grey_icon.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'car')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/car_blue_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'car')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/car_yellow_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'car')&&(d.status=='IDLING'))">

          <img src="assets/imgs/truck_icon_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'truck')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/truck_icon_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'truck')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/truck_icon_grey.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'truck')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/truck_icon_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'truck')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/truck_icon_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'truck')&&(d.status=='IDLING'))">

          <img src="assets/imgs/bike_red_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bike')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/bike_green_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bike')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bike_grey_icon.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'bike')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/bike_blue_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bike')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/bike_yellow_icon.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bike')&&(d.status=='IDLING'))">

          <img src="assets/imgs/jcb_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'jcb')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/jcb_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'jcb')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/jcb_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'jcb')&&(d.last_ACC==null))"> -->
          <img src="assets/imgs/jcb_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'jcb')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/jcb_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'jcb')&&(d.status=='IDLING'))">

          <img src="assets/imgs/bus_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bus')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/bus_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bus')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/bus_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'bus')&&(d.last_ACC ==null))"> -->
          <img src="assets/imgs/bus_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bus')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/bus_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'bus')&&(d.status=='IDLING'))">

          <img src="assets/imgs/tractor_red.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'tractor')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/tractor_green.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'tractor')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/tractor_gray.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'bus')&&(d.last_ACC ==null))"> -->
          <img src="assets/imgs/tractor_blue.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'tractor')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/tractor_yellow.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'tractor')&&(d.status=='IDLING'))">

          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'user')&&(d.status=='STOPPED'))">
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'user')&&(d.status=='RUNNING'))">
          <!-- <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
                *ngIf="((d.iconType == 'user')&&(d.last_ACC ==null))"> -->
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'user')&&(d.status=='OUT OF REACH'))">
          <img src="assets/imgs/user.png" title="{{d.Device_Name}}"
            *ngIf="((d.iconType == 'user')&&(d.status=='IDLING'))">

        </ion-avatar>
        <div>
          <p style="color: black; font-size: 4vw; padding-right: 8px;">
            {{ d.Device_Name }} &nbsp;&nbsp;
            <!-- <label class="switch">
              <input type="checkbox" [(ngModel)]="d.theftAlert" (click)="fonctionTest(d)">
              <span class="slider round"></span>
            </label> -->
          </p>

          <p style="color:#cf1c1c;font-size: 3vw;font-weight: 400;margin:0px;" ion-text text-wrap>
            <span style="text-transform: uppercase;">{{ d.status }} </span>
            <span *ngIf="d.status_updated_at">Since&nbsp;{{
                d.status_updated_at | date: "medium"
              }}
            </span>
          </p>
        </div>

        <div item-end *ngIf="islogin.fuel_unit === 'PERCENTAGE'">
          <div *ngIf="d.fuel_percent">
            <ion-avatar class="ava">
              <img src="assets/imgs/fuel.png" />
            </ion-avatar>
            <p style="color: green; font-size: 10px;font-weight: 400;margin:0px;">
              <b>{{ d.fuel_percent }}%</b>
            </p>
          </div>
        </div>

        <div item-end *ngIf="islogin.fuel_unit === 'LITRE'">
          <div *ngIf="d.currentFuel">
            <ion-avatar class="ava">
              <img src="assets/imgs/fuel.png" />
            </ion-avatar>
            <p style="color: green; font-size: 10px;font-weight: 400;margin:0px;">
              <b>{{ d.currentFuel }}L</b>
            </p>
          </div>
        </div>

        <div item-end *ngIf="d.last_speed">
          <ion-badge color="gpsc">{{ d.last_speed }} km/h</ion-badge>
        </div>
        <button ion-button item-end clear color="gpsc" (click)="presentPopover($event, d); $event.stopPropagation()"
          *ngIf="!showDeleteBtn(d.SharedWith)" style="font-size: 4vw; margin: 0px;">
          <ion-icon ios="ios-more" md="md-more" *ngIf="option_switch"></ion-icon>
        </button>

        <button ion-button item-end clear color="gpsc" (click)="shareVehicle(d)" *ngIf="!option_switch"
          style="font-size: 4vw; margin: 0px;">
          <ion-icon ios="ios-share" md="md-share" *ngIf="showSharedBtn(islogin._id, d.SharedWith)"></ion-icon>
        </button>

        <button ion-button item-end clear color="danger" (click)="sharedVehicleDelete(d)"
          *ngIf="showDeleteBtn(d.SharedWith)" style="font-size: 4vw; margin: 0px;">
          <ion-icon ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
        </button>
      </ion-item>

      <ion-row style="background-color: #fafafa;">
        <ion-col col-2 style="text-align:center" (click)="livetrack(d)">
          <ion-icon name="pin" style="color:#ffc900; font-size: 3vw;"></ion-icon>
          <p style="color:#131212; font-size: 2vw; font-weight: 400;">
            Live
          </p>
        </ion-col>
        <ion-col col-2 style="text-align:center" (click)="showHistoryDetail(d)">
          <ion-icon name="clock" style="color:#d675ea;font-size: 3vw;"></ion-icon>
          <p style="color:#131212;font-size: 2vw;font-weight: 400;">
            History
          </p>
        </ion-col>
        <ion-col col-2 style="text-align:center">
          <ion-icon name="power" style="color:#ef473a;font-size: 3vw;" *ngIf="d.last_ACC == '0'"></ion-icon>
          <ion-icon name="power" style="color:#1de21d;font-size: 3vw;" *ngIf="d.last_ACC == '1'"></ion-icon>
          <ion-icon name="power" style="color:gray;font-size: 3vw;" *ngIf="d.last_ACC == null"></ion-icon>
          <p style="color:#131212;font-size: 2vw;font-weight: 400;">
            Ignition
          </p>
        </ion-col>
        <ion-col col-2 style="text-align:center" (click)="IgnitionOnOff(d)">
          <ion-icon name="lock" style="color:#ef473a;font-size: 3vw;" *ngIf="d.ignitionLock == '1'"></ion-icon>
          <ion-icon name="unlock" style="color:#1de21d;font-size: 3vw;" *ngIf="d.ignitionLock == '0'"></ion-icon>
          <p style="color:#131212;font-size: 2vw;font-weight: 400;">
            Immobilize
          </p>
        </ion-col>
        <ion-col col-2 style="text-align:center">
          <ion-icon name="battery-charging" style="color:#ef473a;font-size: 3vw;" *ngIf="d.power != '1'"></ion-icon>
          <ion-icon name="battery-charging" style="color:#1de21d;font-size: 3vw;" *ngIf="d.power == '1'"></ion-icon>
          <p style="color:#131212;font-size: 2vw;font-weight: 400;">
            Power
          </p>
        </ion-col>
        <ion-col col-2 style="text-align:center" (click)="dialNumber(d.contact_number)">
          <ion-icon name="call" style="color:#0000FF;font-size: 3vw;"></ion-icon>
          <p style="color:#131212;font-size: 2vw;font-weight: 400;">
            Driver
          </p>
        </ion-col>
      </ion-row>
      <ion-item item-start class="itemStyle" style="background:#696D74;">
        <ion-row>
          <ion-col (onCreate)="device_address(d, i)" class="colSt2">
            <div class="overme">
              {{ d.address }}
            </div>
          </ion-col>
          <ion-col class="colSt1">
            <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">
              Today's Distance
            </p>
            <p style="color:#fff;font-size: 12px;font-weight: 400;margin-top: 6px;">
              {{ d.today_odo | number: "1.0-2" }} km
            </p>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>