<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>POI List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="addPOI()">
        <ion-icon color="light" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let list of allData._poiListData;">
    <ion-item>
      <ion-thumbnail item-start>
        <div id="{{list.mapid}}" style="height: 100px; width: 100px;"></div>
      </ion-thumbnail>
      <h1>{{list.poiname}}</h1>
      <p style="color: #687DCA">Radius: {{list.radius}}</p>
      <p>
        <ion-icon name="pin"></ion-icon>&nbsp;&nbsp;{{list.address}}
      </p>
      <p>
        <button ion-button round small (click)="editPOI(list)">Edit</button>
        <button ion-button round small style="background: #878888; color: white"
          (click)="deletePOI(list)">Delete</button>
      </p>
    </ion-item>
  </ion-card>
</ion-content>
